*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family:"Open Sans";
}

html,body{
    height: 100%;
}

.clear{
    clear:both;
}

.container{
    max-width: 1280px;
    margin:0  auto;
}

header{
    width:100%;
    height:90vh;
    padding:40px 2%;
    max-height: 800px;
    background-size: cover;
    background-position:center;
    background-image: url('../imagens/capa.png');
    font-weight: 300;
}

header nav{
    float:right;
}

header .logo{
    float:left;
    width: 160px;
    height: 40px;
    background-image: url('../imagens/logo-danki.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-color:transparent;
    cursor: pointer;
}

nav.mobile-menu{
    cursor: pointer;
    display: none;
    width:32px;
    height: 32px;
    background-image:url('../imagens/menu.png');
    background-size: 100% 100%;
}
/*
nav.mobile-menu:hover ul{
    opacity: 1;
}
*/

nav.mobile-menu ul{
    display: none;
    background-color: white;
    position: absolute;
    width: 100%;
    left: 0;
    top:80px;
    color: white;
    list-style-type:none;
    text-align: center;
}

nav.mobile-menu ul li{
    padding: 8px 0;
    transition: 0.4s;
    border-bottom: 1px solid black;
}

nav.mobile-menu ul li:hover{
    background-color: rgb(200, 200, 200);
}

nav.mobile-menu ul li a{
    color: black;
    text-decoration: none;
}

header nav.desktop-menu ul{
    list-style-type: none;
}

header nav.desktop-menu ul li{
    float:left;
    padding:0 20px;
}

header nav.desktop-menu ul li a{
    text-decoration: none;
    color: white;
}

.call{
    max-width: 600px;
    float:right;
    margin:140px 150px;
}

.call h2{
    font-weight: 300;
    font-size: 40px;
    color: white;
}

.call p{
    color: white;
    font-size: 15px;
    margin-top:10px;
}

section.main{
    width: 100%;
    background-color: #472562;
    padding:0px 2%;
    height: 400px;
}

section.main .container{
    max-width: 1000px;
}

.text_main{
    float:left;
    width: 50%;
    position: relative;
    left:60px;
    margin-top: 60px;
    padding-left:80px;
    color:white;
}

.text_main h2{
    font-size:26px;
    font-weight: 300;
}

.text_main p{
    margin-top: 20px;
    font-weight: 400;
    font-size:13px;
}

.text_main ul{
    font-size: 13px;
    list-style-position: outside;
    padding-left: 15px;
}

.text_main ul li{
    float:left;
    width: 100%;
    margin-top: 8px;
}

.btn_text_main{
    background-color: #FF703D;
    width:165px;
    color: white;
    height:40px;
    font-size: 13px;
    margin-top: 30px;
    cursor: pointer;
    text-align: center;
    border-radius: 30px;
    line-height: 44px;
}

.device_main{
    float: left;
    width: 50%;
    position: relative;
    top:-30px;
    height:430px;
    background-image:url('../imagens/device.png');
    background-size: 100% 100%;
    background-repeat:no-repeat;
}

.sessao2{
    padding: 0 2%;
    background-color: white;
    text-align:center;
}

.sessao2 .container{
    max-width: 1000px;
}

.sessao2 h2{
    color: #472663;
    font-weight: 300;
}

.sessao2 p{
    margin-top: 30px;
    max-width: 900px;
    display: inline-block;
}

.sessao2 img{
    position: relative;
    top:100px;
    width: 100%;
    margin-top:40px;

}

.sessao3{
    width: 100%;
}

.wrapper-part1{
    max-width: 600px;
    float: right;
    padding-right: 30px;
}

.part1{
    color: white;
    float: left;
    width: 50%;
    padding: 140px 0 90px 0;
    background-color: #835FA7;
}

.part1 h2{
    font-weight: 300;
    font-style: italic;
    font-size: 23px;
}

.part1 p{
    font-size: 15px;
    line-height: 35px;
    margin-top: 10px;
}

.part2{
    float: left;
    width: 50%;
    padding: 140px 0 90px 0;
    background:white;
}

/*SLIDE STYLING*/

.scrollEquipe{
    max-width: 600px;
    padding-left: 20px;
    overflow:hidden;
}

.scroll-wrapper{
    width: 100%;
}

.author{
    float: left;
    width:100%;
    padding: 0 20px;
}

.title_author{
    float:left;
    width: 100%;
}

/*ENDED SLIDE STYLING*/

.wrapper_author{
    width: calc(100% -40px);
    float: left;
}

.title_author h2{
    color: #232323;
    font-weight: 400;
    font-size: 25px;
    padding-right: 20px;
}

.title_author p{
    color: #232323;
    font-weight: 300;
    font-size: 13px;
    font-style: italic;
}

.title_author .img-author{
    float: left;
    width: 40px;
    height: 40px;
    position: relative;
    top:-4px;
    border-radius:20px;
    background-color: transparent;
    background-image: url('../imagens/actor1.png');
    background-size: 100% 100%;
}

.text_author{
    float: left;
    width: 100%;
    margin-top: 10px;
}

.text_author p{
    color: #232323;
    font-size: 15px;

}

.slider-bullets{
    width: 100%;
    float: left;
    margin-top: 12px;
    padding-left: 40px;
}

.slider-bullets span{
    width: 16px;
    height: 16px;
    float: left;
    border-radius: 8px;
    cursor: pointer;
    margin-right: 8px;
    background-color: rgb(200, 200, 200);
}

section.sessao4{
    background-color: #472563;
    padding: 100px 0;
}

.form{
    float: left;
    width: 50%;
    padding-left:10px;
}

.form h2{
    color: white;
    font-size: 23px;
    font-weight: 300;
}

.form p{
    font-size:15px;
    font-weight: 300;
    color: white;
    max-width: 400px;
    padding-right: 10px;
}

.form form{
    margin-top:15px;
}

.form form input[type=text]{
    width: 90%;
    max-width: 480px;
    height:58px;
    padding-left: 8px;
    margin-top: 5px;
    line-height: 58px;
    border:1px solid rgb(200,200,200);
}

.form form input[type=submit]{
    border:0;
    background-color: #FF703D;
    width: 165px;
    height: 44px;
    font-size: 13px;
    color: white;
    cursor: pointer;
    margin-top: 15px;
    border-radius: 30px;
}

.form form textarea{
    width:90%;
    max-width: 480px;
    padding: 15px;
    border:1px solid rgb(200,200,200);
    height: 160px;
    margin-top: 8px;
}

.map-wrapper{
    float:left;
    width: 50%;
    padding: 0 10px;
    color: white;
}

.map-wrapper2 h2{
    font-size: 23px;
    font-weight: 300;
}

.map-wrapper3{
    margin-top: 10px;
    width: 100%;
    max-width: 480px;
    position: relative;
}

.map-wrapper2{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding-top: 100%;
}

.map{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    border: 5px solid rgb(200, 200, 200);
}

footer{
    padding:40px 2%;
    background-color: #192123;
    color: white;
}

footer p:nth-of-type(1){
    float: left;
    font-size: 14px;
}

footer p:nth-of-type(2){
    float: right;
    font-size: 14px;
}

@media screen and (max-width: 830px){
    .call{
        width: 100%;
        max-width: none;
        float:none;
        margin:170px 0px;
        text-align: center;
    }
    
    .call h2{
        font-weight: 300;
        font-size: 30px;
        padding: 0 10px;
        color: white;
    }
    
    .call p{
        color: white;
        font-size: 15px;
        margin-top:10px;
    }
}

@media screen and (max-width: 768px){

    header{
        width:100%;
        height:auto;
        min-height: 90vh;
        padding:40px 2%;
    }

    nav.desktop-menu{
        display:none;
    }

    nav.mobile-menu{
        display:block;
    }
    
    section.main{
        padding: 40px 2%;
        height: auto;
        text-align:center;
    }

    .text_main{
        width: 100%;
        margin-top: 0;
        padding: 0;
        float: none;
        position:static;
        display:inline-block;
    }

    .text_main ul{
       display: inline-block;
       margin-top: 20px;
    }

    .text_main ul li{
        float: none;
        text-align: left;
    }

    .btn_text_main{
        display: inline-block;
    }

    .device_main{
        display: none;
    }

    .sessao2{
        padding-top:40px;
    }

    .sessao4 .container{
        text-align: center;
    }

    .form{
        float: none;
        width: 100%;
    }

    .form p{
        display: inline-block;
    }

    .map-wrapper{
        float:none;
        width: 100%;
        padding: 0 4%;
        margin-top: 40px;
    }

    .map-wrapper3{
        display: inline-block;
        max-width: none;
        width: 80%;
        padding-top: 80%;
    }

    .map-wrapper2{
        padding-top: 0;
        height: 100%;
    }
}

@media screen and (max-width: 580px){
    .part1{
        width: 100%;
        padding: 40px 0;
    }
    .part2{
        width: 100%;
        padding: 40px 0;
    }

    .sessao2 img{
        top: 16px;
        margin-top: 20px;
    }

    footer{
        text-align: center;
    }
    
    footer p:nth-of-type(1){
        float: none;
        
    }
    
    footer p:nth-of-type(2){
        float: none;
        margin-top: 8px;
    }
}